.list-items{
    width: 400px;
    display: flex;
   
    justify-content: space-between;
    
}
.arrow-icon{
    height: 20px;
    margin-right: 10px;
}
.make-center{
    display: flex;
    justify-content: center;
    align-items: center;
}